/*!
Vatan computer clone
Author: servetarslan
AuthorUrl: http://www.servetarslan.com
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
@import 'bootstrap.min.css ';
/*=include /font-awesome.css */
/*=include /icomoon.css */
/*=include /slick.scss */
/*=include /slick-theme.css */
@import 'mixin.sass';

/*Colors*/
$black : #000;
$bold-black: #1e1414;
$black-aaa : #9e9e9e;
$white : #fff;
$orange : #e88b00;
$blue: #0153a6;
$light-blue: #2196f3;
$dark-grey: #424242;


@font-face {
    font-family: 'tl';
    src: url(../fonts/tl/abakutlsymsans.eot);
    src: url(../fonts/tl//abakutlsymsans.eot?#iefix) format("embedded-opentype"),url(../fonts/tl//abakutlsymsans.woff) format("woff"),url(../fonts/tl//abakutlsymsans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/*Fonts*/
$roboto : 'Roboto', sans-serif;
$icomoon: 'icomoon';



//Reset
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

input {
    border: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="submit"] {
    -webkit-appearance: none;
    @include border-radius(0);
}

img {
    display: block;
}

*:before,
*:after {
    box-sizing: border-box;
}

a:active,
a:focus,
input,
button,
select,
textarea {
    outline: none;
}

//Extras


a {
    transition: all .2s ease;
}


a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::selection{
    background: #c00;
    color: #fff;
    text-shadow: 0 1px 3px #4a536c;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

/** scren settings **/
@include responsive(mobile){
    .xs-hide{
        display: none !important;
    }
}

@include responsive(tablet){
    .sm-hide{
        display: none !important;
    }
}

@include responsive(laptop){
    .md-hide{
        display: none !important;
    }
}

@include responsive(desktop){
    .lg-hide{
        display: none !important;
    }
}

@include responsive(largedesktop){
    .xl-hide{
        display: none !important;
    }
}

@keyframes menuDownAnimation {
    0% {
        display: none;
        transform: translateY(-15px)
    }

    1% {
        display: block;
        transform: translateY(-15px)
    }

    100% {
        transform: translateY(0px)
    }
}


@keyframes menuLeftAnimation {
    0% {
        display: none;
        transform: translateX(-15px)
    }

    1% {
        display: block;
        transform: translateX(-15px)
    }

    100% {
        transform: translateX(0px)
    }
}


/***** START *****/

body {
    font-family: $roboto;
    font-size: 13px;
    color: $dark-grey;
    height: 1500px;
}

.vtn-container{
    max-width: 1240px;
    width: 100%;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
}

/*// Header //*/

header {
    background: $blue;
    position: fixed;
    width: 100%;
    z-index: 6;

    .top-menu{
        background: $white;
        padding: 5px 0;
        border-top: 1px solid #eee;
        width: 100%;
        height: 30px;
        .top-menu-left,.top-menu-right{
            a{
                float: left;
                color: $blue;
                font-size: 13px;
                font-weight: 500;
                position: relative;

                &:hover{
                    color: $light-blue;
                }
            }
        }

        .top-menu-left{
            a{
                &:before{
                    content: '●';
                    float: right;
                    padding: 5px 14px;
                    font-size: 7px;
                    color: $blue;
                }

                &:last-child{
                    &:before{
                        content: '';
                    }
                }
            }
        }

        .top-menu-right{
            a{
                margin-left: 15px;

                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-left: 35px;
                }

                i{
                    font-size: 16px;
                    position: absolute;
                    left: -20px;
                    top: 2px;
                }
            }
        }

        
    }

    .main-menu{
        display: inline-block;
        width: 100%;
        .mobile-nav{
            display: none;
            .mb-head{
                display: table;
                table-layout: fixed;
                width: 100%;
                padding: 14.5px 0;
                height: 60px;

                .mb-menu{
                    width: 40px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
    
                    a{
                        &:before{
                            content: '\e91a';
                            font-family: $icomoon;
                            font-size: 25px;
                            color: $white;
                        }
                    }
                }

                .mb-logo{
                    width: auto;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                        a{
                            display: inline-block;
                            max-width: 100px;
                            margin: 0;
                            position: relative;
                            img{
                                max-width: 100%;
                            }
                    }
                }

                .mb-basket{
                    width: 40px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: right;
                    padding-right: 10px;

                    a{
                        display: inline-block;
                        position: relative;
                        &:before{
                            content: "\e901";
                            font-family: $icomoon;
                            font-size: 25px;
                            color: #fff;
                        }
                    }
                }

            }

            .mb-search{
                width: 100%;
                position: relative;
                margin-bottom: 15px;
                display: inline-block;
                
                input{
                    background: $white;
                    color: $black-aaa;
                    width: 100%;
                    border: 0;
                    border-radius: 3px;
                    text-align: left;
                    padding:15px 15px 15px 40px;
                    height: 50px;
                    font-size: 18px;
                    font-weight: 500;
                    outline: 0;
                    transition: all .2s ease;
                    &::placeholder{
                        font-size: 16px;
                    }
                }

                &::before{
                    font-family: $icomoon;
                    font-size: 20px;
                    color: $black-aaa;
                    content: '\e924';
                    font-weight: 400;
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    z-index: 5;
                }
            }

            .nav-toogle{
                min-height: 240px;
                position: absolute;
                background: #fff;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 20;
                display: none;


                .nav-toogle-top-link{
                    width: 100%;
                    display: table;
                    table-layout: fixed;
                    background: #f5f5f5;
                    border: 0;
                    z-index: 20;
                    position: relative;

                    li{
                        display: table-cell;
                        vertical-align: middle;
                        a{
                            color: $blue;
                            font-weight: 500;
                            display: block;
                            text-align: center;
                            transition: all .2s ease;
                            font-size: 14px;
                            padding: 21px 0;

                            &:hover{
                                color: $light-blue;
                            }
                        }
                    }
                }

                .nav-toogle-menus{
                        li.sub-menu{
                            a.top-sub{
                                padding: 12px 23px;
                                display: inline-block;
                                font-size: 14px;
                                color: #757575;
                                position: relative;
                                z-index: 20;
                                width: 100%;
                                

                                i{
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 15px;
                                    transition: margin .2s;

                                    &::before{
                                        color: $light-blue;
                                        transition: all .2s ease;
                                        font-size: 30px;
                                    }
                                }

                                &:hover{
                                    background: #2196f3;
                                    color: #fff;
                                    border-right: 0;

                                    i{
                                        margin-right: 25px;
                                        &::before{
                                            color: $white;
                                        }
                                    }
                                }

                                &::after{
                                    content: '\e935';
                                    font-family: $icomoon;
                                    font-size: 12px;
                                    color: #9e9e9e;
                                    position: absolute;
                                    top: 50%;
                                    right: 25px;
                                    margin-top: -6px;
                                    transition: all .2s ease;
                                    -webkit-transition: all .2s ease;
                                    -o-transition: all .2s ease;
                                }
                            }
                    }

                    .nav-toogle-menus-sub{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #fff;
                        display: none;
                        padding: 30px 30px 30px 330px;
                        z-index: 19;
                        min-height: 609px;
                        width: 100%;
                        max-width: 1050px;
                        min-width: 1050px;
                        border-radius: 0 3px 3px 3px;
                        min-height: 537px;
                        height: 537px;
                        overflow-y: auto;
                    }


                    .sub-1{
                        .cat-menu-lvl-2{
                            padding: 0;
                            display: none;
                            right: 0;
                            left: inherit;
                            height: 100%;
                            position: fixed;
                            z-index: 100;
                            background: #fff;
                            top: 0;
                            width: 100%;

                            .cat-menu-lvl-2-back{
                                display: table;
                                width: 100%;
                                height: 60px;
                                table-layout: fixed;
                                background: #0153a6;
                                text-align: center;
                                z-index: 999;

                                i.mobile-header-back{
                                    cursor: pointer;
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 60px;
                                    text-align: center;
                                    font-style: normal;

                                    &::before{
                                        content: '\e934';
                                        font-family: $icomoon;
                                        font-size: 15px;
                                        color: #fff;
                                    }
                                }

                                span{
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: auto;
                                    color: #fff;
                                    font-size: 18px;
                                }

                                a.mobile-header-close{
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 60px;
                                    text-align: center;

                                    i{
                                        &::before{
                                            color: #fff;
                                            font-size: 18px;
                                            content: "\e937";
                                        }
                                    }
                                }
                            }

                            ul{
                                position: absolute;
                                top: 60px;
                                left: 0;
                                width: 100%;
                                height: calc(100% - 60px);
                                overflow: auto;

                                li{
                                    width: 100%;
                                    display: table;
                                    table-layout: fixed;
                                    margin-bottom: 0;
                                    border-bottom: 1px solid #eee;
                                    padding: 10px 20px;

                                    .prd-img{
                                        float: inherit;
                                        display: table-cell;
                                        vertical-align: middle;
                                        width: 80px;
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .prd-content{
                                        display: table-cell;
                                        vertical-align: middle;
                                        min-height: 65px;
                                        padding: 0;

                                        a{
                                            font-size: 16px;
                                            color: #757575;
                                            padding: 15px 20px;
                                            position: relative;
                                            display: block;
                                            width: 100%;

                                            
                                                &::after{
                                                    content: '\e935';
                                                    font-family: $icomoon;
                                                    font-size: 12px;
                                                    color: #9e9e9e;
                                                    position: absolute;
                                                    top: 50%;
                                                    right: 5px;
                                                    margin-top: -6px;
                                                    transition: all .2s ease;
                                                }
                                            
                                        }
                                    }
                                }
                            }
                        }

                        &.selected{
                            .cat-menu-lvl-2{
                                display: block;
                                transform: translateX(0px);
                                animation: menuLeftAnimation .3s cubic-bezier(.23,1,.32,1);
                            }
                            
                        }
                }


                    
                }

                .mobile-account-member{
                    background: $blue;
                    display: block;

                    li{
                        a{
                            display: block;
                            padding: 19px 60px 18px 25px;
                            span{
                                color: $white;
                                font-size: 18px;
                                margin-left: 15px;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                    li.mb-account{
                        
                        i{
                            display: inline-block;
                            vertical-align: middle;
                            &::before{
                                color: #fff;
                                font-size: 20px;
                            }
                        }
                    }

                    li.closeBtn{
                        position: absolute;
                        z-index: 2;
                        right: 0;
                        top: 0;
                        a{
                            padding: 0;
                            width: 60px;
                            height: 59px;
                            line-height: 59px;
                            text-align: center;
                            i{
                                line-height: 59px;
                                &::before{
                                    color: #fff;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }

            .is-open{
                .nav-toogle{
                    display: block;
                    transform: translateY(0px);
                    animation: menuDownAnimation .3s cubic-bezier(.23,1,.32,1);

                }
            }

        
        

        }

        .desktop-nav{
            padding: 10px 0;
            position: relative;
            display: inline-block;
            width: 100%;
            .logo-nav{
                float: left;
                width: 300px;
                .logo{
                    float: left;
                    a{
                        padding: 6px 0;
                        display: block;
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }

            nav{
                float: left;
                .nav-menu{
                    margin-left: 20px;
                    .nav-btn{
                        display: block;
                        padding: 14px 15px 14px 11px;
                        position: relative;
                        transition: all .3s ease;
                        border-radius: 3px;
                        color: $white;
                        i{
                            display: inline-block;
                            margin-right: 7px;
                            vertical-align: middle;
                            &::before{
                                color: $white;
                                font-size: 15px;
                                transition: all .1s ease;
                            }
                        }
                        .nav-btn-text{
                            font-size: 18px;
                            font-weight: 500;
                            display: inline-block;
                            vertical-align: middle;
                            height: 22px;
                            margin-top: -3px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            width: 100%;
                            height: 12px;
                            background: $blue;
                            transition: all .1s ease;
                        }
                        &:hover{
                            background: $white;
                            color: $blue;
                            transition: all .1s ease;
                            &::after{
                                background: $white;
                            }
                            i{
                                &::before{
                                    color: $blue;
                                }
                            }
                        }
                    }
                }

                .nav-toogle{
                    min-height: 150px;
                    position: absolute;
                    background: #fff;
                    margin: 10px 0 0 170px;
                    max-width: 1070px;
                    left: 0;
                    z-index: 20;
                    border-radius: 0 3px 3px 3px;
                    display: none;

                    .nav-toogle-top-link{
                        max-width: 300px;
                        width: 100%;
                        display: table;
                        table-layout: fixed;
                        border-bottom: 1px solid #e0e0e0;
                        border-right: 1px solid #e0e0e0;
                        z-index: 20;
                        position: relative;

                        li{
                            display: table-cell;
                            vertical-align: middle;
                            a{
                                font-size: 12px;
                                color: $blue;
                                font-weight: 500;
                                display: block;
                                text-align: center;
                                padding: 18px 0;
                                transition: all .2s ease;

                                &:hover{
                                    color: $light-blue;
                                }
                            }
                        }
                    }

                    .nav-toogle-menus{
                            li.sub-menu{
                                a.top-sub{
                                    padding: 12px 23px;
                                    display: inline-block;
                                    font-size: 14px;
                                    color: #757575;
                                    position: relative;
                                    z-index: 20;
                                    max-width: 300px;
                                    width: 100%;
                                    border-right: 1px solid #e0e0e0;
                                    

                                    i{
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-right: 15px;
                                        transition: margin .2s;

                                        &::before{
                                            color: $light-blue;
                                            transition: all .2s ease;
                                            font-size: 30px;
                                        }
                                    }

                                    &:hover{
                                        background: #2196f3;
                                        color: #fff;
                                        border-right: 0;

                                        i{
                                            margin-right: 25px;
                                            &::before{
                                                color: $white;
                                            }
                                        }
                                    }
                                }
                        }

                        .nav-toogle-menus-sub{
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #fff;
                            display: none;
                            padding: 30px 30px 30px 330px;
                            z-index: 19;
                            min-height: 609px;
                            width: 100%;
                            max-width: 1050px;
                            min-width: 1050px;
                            border-radius: 0 3px 3px 3px;
                            min-height: 537px;
                            height: 537px;
                            overflow-y: auto;
                        }
                    }
                }

                .is-open{
                    .nav-btn{
                            background: $white;
                            color: $blue;
                            transition: all .1s ease;
                            &::after{
                                background: $white;
                            }
                            i{
                                &::before{
                                    color: $blue;
                                }
                            }
                        
                    }
                    .nav-toogle{
                        display: block;
                        transform: translateY(0px);
                        animation: menuDownAnimation .3s cubic-bezier(.23,1,.32,1);
                    }
                }


            }

            .nav-search{
                float: left;
                width: calc(100% - 550px);
                position: relative;
                overflow: hidden;

                input{
                    background: rgba(255,255,225,.2);
                    width: 100%;
                    height: 50px;
                    border: 0;
                    outline: 0;
                    border-radius: 3px;
                    padding: 15px;
                    color: $white;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                    transition: all .2s ease;
                }
                input.is-active{
                    padding-left: 40px;
                }
                i{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translateX(50%);
                    margin-top: -8px;
                    pointer-events: none;
                    transition: all .2s ease;
                    &::before{
                        font-size: 16px;
                        color: #fff;
                        font-weight: 400;
                        display: inline-block;
                        vertical-align: middle;
                        transition: all .4s cubic-bezier(0.6, -0.28, 0.74, 0.05) ;
                    }
                    &::after{
                        content: 'Ürün ara';
                        margin-left: 5px;
                        display: inline-block;
                        vertical-align: middle;
                        font-family: $roboto;
                        font-size: 15.2px;
                        color: #fff;
                        font-weight: 400;
                        transition: all .4s cubic-bezier(0.6, -0.28, 0.74, 0.05) ;
                    }
                }
                i.is-active{
                    right: 15px;

                    &::after{
                        content: '';
                    }
                }
            }

            .user-main{
                float: right;
                width: 250px;
                position: relative;

                .basket-btn,.login-btn{
                    float: right;
                    position: relative;
                    cursor: pointer;
                    border-radius: 3px;
                    transition: all .9s ease;
                    padding: 10px;

                    a{
                        color: $white;
                        font-weight: 500;
                        position: relative;
                        display: block;
                        width: 100%;
                        transition: all .9s ease;

                        span{
                            vertical-align: middle;
                            display: inline-block;
                            font-size: 15.5px;
                        }

                        i{
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            border-radius: 100%;
                            display: inline-block;
                            font-style: normal;
                            vertical-align: middle;
                            margin-left: 7px;
                            &::before{
                                color: $white;
                                position: relative;
                                top: -1px;
                                left: -1px;
                                transition: all .9s ease;
                            }
                        }
                    }

                    &:hover{
                        background: $white;
                        a{
                            color: $blue;
                            i{
                                &::before{
                                    color: $blue;
                                }
                            }

                            i.icon-ico_basket{
                                background: $blue;
                                &::before{
                                    color: $white;
                                }
                            }
                        } 
                    }
                }

                .basket-btn{
                    a{
                        i{
                            background: $white;
                            padding: 6px 0 0;
                            transition: all .9s ease;
                            
                            &::before{
                                font-size: 20px;
                                color: $blue;
                                transition: all .9s ease;
                            }
                        }
                    }
                }

                .login-btn{
                    a{
                        i{
                            &::before{
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
            
        }

    }
}

@include responsive(laptop){
    header{
        .main-menu{
            .mobile-nav{
                display: block;
            }
            .desktop-nav{
                display: none;
            }
        }
    }
}


/*// Header //*/

/*// Main //*/

.cookie-main{
    width: 100%;
    display: inline-block;
    background: $blue url('../images/cookie-banner.jpg') center center no-repeat;
    background-size: contain;
    height: 60px;
    position: relative;
    margin-top: -1px;

    .cookie-line{
        position: relative;
        top: 0;
        height: 60px;
    }

    a.go-link{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 4;
    }

    .close-btn{
        position: absolute;
        right: 0;
        top: calc(50% - 8.5px);
        z-index: 5;
        width: auto;
        text-transform: uppercase;
        color: $bold-black;

        i{
            &::before{
                font-size: 10px;
                color: $bold-black;
            }
        }

        span{
            font-size: 14px;
            margin-left: 5px;
            font-weight: 500;
        }
    }
}

.products-main{
    width: 100%;
    transition: all .2s ease;
    .head{
        position: relative;
        width: 100%;
        display: inline-block;
    }
    h2{
        margin: 15px 0;
        font-size: 20px;
        font-weight: 500;
    }

    .all-product-link{
        position: absolute;
        top: 17px;
        right: 0;
        a{
            padding: 10px 0;
            color: $blue;
            transition: all .3s ease;
            &:hover{
                color: $light-blue;
            }
            span{
                font-weight: 500;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                transition: all .3s ease;
                text-transform: uppercase;
                &:hover{
                    padding-right: 5px;
                }
            }
            i{
                margin-left: 10px;
                transition: all .1s ease;
                vertical-align: middle;
                &::before{
                    font-size: 14px;
                    transition: all .1s ease;
                }
            }
        }
    }

    .best-products{
        width: 100%;
    }
}

/*// Main //*/


/*// Footer //*/

footer{
    width: 100%;
    display: inline-block;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    padding-bottom: 60px;
    margin-top: -5px;
    .footer-top{
        margin: 0 auto;
        max-width: 1040px;
        width: 100%;
        padding: 20px 10px; 
        display: inline-block;
    }

    .footer-top-item{
        float: left;
        width: 25%;
        text-align: left;
        vertical-align: top;
        padding: 21px 10px;

        .item-icon{
            float: left;
            i{
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                text-align: center;
                &::before{
                    font-size: 22px;
                    color: $white;
                }
            }
            i.icon-ico_moto{
                background: #2196f3;
                padding: 8px 10px;
            }
            i.icon-ico_fast{
                background: #2196f3;
                padding:8px;
            }
            i.icon-ico_cargo,i.icon-ico_easy{
                background: #15c060;
                padding: 8px;
            }
        }

        .item-text{
            padding: 12px 0 0 50px;

            span{
                width: 100%;
                margin: 0;
                font-weight: 500;
                font-size: 14px;
                line-height: 1;
                color: $dark-grey;
                padding-bottom: 5px;
                display: inline-block;
            }
            p{
                margin: 0;
                font-size: 12px;
                color: #757575;
            }
        }
    }

    .footer-social{
        background: $light-blue;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        ul{
            display: inline-block;
            max-width: 790px;
            width: 100%;
            padding: 34px 20px;
            text-align: center;
            li{
                width: 20%;
                float: left;
                vertical-align: middle;
                text-align: center;
                a{
                    display: block;
                    padding: 10px;
                }
                i{
                    display: inline-block;
                    &::before{
                        color: $white;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .footer-store{
        width: 100%;
        .footer-store-cta-main{
            width: 100%;
            max-width: 730px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .vtn-btn{
            float: left;
            vertical-align: top;
            width: 50%;
            a{
                display: block;
                width: 100%;
                border: 1px solid #e0e0e0;
                text-align: center;
                padding: 12.5px 0;
                border-radius: 3px;
                &:hover{
                    border: 1px solid #2196f3;
                }
            }
            i{
                display: inline-block;
                vertical-align: middle;
                color: #757575;
            }
            span{
                font-weight: 500;
                margin-left: 10px;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                color: #757575;
            }
        }
        .store-btn{
            padding-right: 25px;
        }
        .phone-btn{
            padding-left: 25px;
        }
    }
}

@include responsive(laptop){
    footer{
        .footer-top-item{
            width: 50%;

            .item-icon{
                float: none;
                margin-bottom: 13px;
                text-align: center;
            }
            .item-text{
                padding: 0;
                text-align: center;
            }
        }

        .footer-store{
            .footer-store-cta-main{
                padding: 0 40px 40px 40px;
            }

            .vtn-btn{
                width: 100%;
                margin-bottom: 20px;
                padding: 0;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    background: #f5f5f5;
                    padding: 17px 0;
                    border-color: #f5f5f5;
                }
            }
        }
    }
}
/*// Footer //*/


/*// main //*/
.main-slider{
    background: $blue;
    max-width: 100%;
    overflow: hidden;
}
.slider{
    
    .slick-list{
        overflow: visible;
    }

    div.slider-item{
        text-align: center;
        width: 600px;
        padding: 0 5px;
        outline: none;
        opacity: .2;
        transition: opacity .4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
        img{
            max-width: 100%;
            width: 100%;
            border-radius:3px;
        }
    }

    div.slick-active{
        opacity: 1;
        transition: opacity .4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    }

    .slick-arrow{
        background: rgba(0,0,0,.7);
        width: 50px;
        height: 100px;
        line-height: 110px;
        z-index: 3;
        border-radius: 3px;
        transition: all .3s ease;
    }

    .slick-prev{
        left: -35px;
        &::before{
            content: "\e918";
            font-family: $icomoon;
            font-size: 12px;
        }
    }
    .slick-next{
        right: -35px;
        &::before{
            content: "\e923";
            font-family: $icomoon;
            font-size: 12px;
        }
    }
    .slick-disabled{
        opacity: 0;
    }

    .slick-dots{
        width: calc(100% - 8%);
        li button{
            &::before{
                font-size: 12px;
                opacity: 1;
                top: 4px;
                color: $light-blue;
            }
        }
        li.slick-active button{
            &::before{
                color: $white;
            }
        }
        
        img{
            width: 100%;
        }
    }
    
}

.slider-nav{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;

    div{
        width: 50px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,.26);
        opacity: 1;
        height: 37px;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        margin: 2.5px;
        cursor: pointer;

        img{
            width: 100%;
        }
    }
}

@include responsive(tablet){
    .slider-nav{
        display: none;
    }
}