@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon/icomoon.eot);
    src: url(../fonts/icomoon/icomoon.eot?#iefix) format("embedded-opentype"),
		url(../fonts/icomoon/icomoon.woff) format("woff"),
		url(../fonts/icomoon/icomoon.ttf) format("truetype");
    font-weight: normal;
    font-style: normal
}

[class^=icon-],[class*=" icon-"] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ico_menuOpn:before {
    content: "\e94a"
}

.icon-ico_dot:before {
    content: "\e947"
}

.icon-ico_phone2:before {
    content: "\e948"
}

.icon-ico_user2:before {
    content: "\e949"
}

.icon-ico_kargoDate:before {
    content: "\e945"
}

.icon-ico_property:before {
    content: "\e946"
}

.icon-ico_rehber:before {
    content: "\e943"
}

.icon-ico_vatan:before {
    content: "\e944"
}

.icon-ico_location:before {
    content: "\e941"
}

.icon-ico_clock:before {
    content: "\e942"
}

.icon-ico_userMobil:before {
    content: "\e93c"
}

.icon-ico_appliances:before {
    content: "\e93d"
}

.icon-ico_bag:before {
    content: "\e93e"
}

.icon-ico_mobilMap:before {
    content: "\e93f"
}

.icon-ico_mobilPhone:before {
    content: "\e940"
}

.icon-ico_hand:before {
    content: "\e938"
}

.icon-ico_hand-down:before {
    content: "\e939"
}

.icon-ico_hand-line:before {
    content: "\e93a"
}

.icon-ico_hand-line-down:before {
    content: "\e93b"
}

.icon-ico_arwBottom:before {
    content: "\e933"
}

.icon-ico_arwLeft:before {
    content: "\e934"
}

.icon-ico_arwRight:before {
    content: "\e935"
}

.icon-ico_arwTop:before {
    content: "\e936"
}

.icon-ico_close:before {
    content: "\e937"
}

.icon-ico_step1:before {
    content: "\e930"
}

.icon-ico_step2:before {
    content: "\e931"
}

.icon-ico_step3:before {
    content: "\e932"
}

.icon-ico_arrw:before {
    content: "\e900"
}

.icon-ico_basket:before {
    content: "\e901"
}

.icon-ico_battery:before {
    content: "\e902"
}

.icon-ico_bell:before {
    content: "\e903"
}

.icon-ico_bottom-arrow:before {
    content: "\e904"
}

.icon-ico_box:before {
    content: "\e905"
}

.icon-ico_camera:before {
    content: "\e906"
}

.icon-ico_cargo:before {
    content: "\e907"
}

.icon-ico_charge:before {
    content: "\e908"
}

.icon-ico_compare:before {
    content: "\e909"
}

.icon-ico_courier:before {
    content: "\e90a"
}

.icon-ico_easy:before {
    content: "\e90b"
}

.icon-ico_facebook:before {
    content: "\e90c"
}

.icon-ico_fast:before {
    content: "\e90d"
}

.icon-ico_favori:before {
    content: "\e90e"
}

.icon-ico_favori2:before {
    content: "\e90f"
}

.icon-ico_ftMail:before {
    content: "\e910"
}

.icon-ico_ftMap:before {
    content: "\e911"
}

.icon-ico_ftPhone:before {
    content: "\e912"
}

.icon-ico_google:before {
    content: "\e913"
}

.icon-ico_inc:before {
    content: "\e914"
}

.icon-ico_instagram:before {
    content: "\e915"
}

.icon-ico_joystick:before {
    content: "\e916"
}

.icon-ico_laptop:before {
    content: "\e917"
}

.icon-ico_left-arrow:before {
    content: "\e918"
}

.icon-ico_map:before {
    content: "\e919"
}

.icon-ico_menu:before {
    content: "\e91a"
}

.icon-ico_moto:before {
    content: "\e91b"
}

.icon-ico_mp:before {
    content: "\e91c"
}

.icon-ico_mp2:before {
    content: "\e91d"
}

.icon-ico_phone:before {
    content: "\e91e"
}

.icon-ico_printer:before {
    content: "\e91f"
}

.icon-ico_processor:before {
    content: "\e920"
}

.icon-ico_quit:before {
    content: "\e921"
}

.icon-ico_restore:before {
    content: "\e922"
}

.icon-ico_right-arrow:before {
    content: "\e923"
}

.icon-ico_search:before {
    content: "\e924"
}

.icon-ico_speaker:before {
    content: "\e925"
}

.icon-ico_star:before {
    content: "\e926"
}

.icon-ico_sticker:before {
    content: "\e927"
}

.icon-ico_time:before {
    content: "\e928"
}

.icon-ico_top-arrow:before {
    content: "\e929"
}

.icon-ico_tv:before {
    content: "\e92a"
}

.icon-ico_twitter:before {
    content: "\e92b"
}

.icon-ico_user:before {
    content: "\e92c"
}

.icon-ico_wiev:before {
    content: "\e92d"
}

.icon-ico_wiev2:before {
    content: "\e92e"
}

.icon-ico_youtube:before {
    content: "\e92f"
}