$xg: 1400px
$lg: 1200px
$md: 991px
$sm: 768px
$xs: 480px
$mb-lg: 425px
$mb-md: 375px
$mb-xs: 320px

=responsive($point) 
  @if $point == largedesktop 
    @media only screen and (max-width : $xg)
      @content  
  @if $point == desktop 
    @media only screen and (max-width : $lg)
      @content  
  @else if $point == laptop 
    @media only screen and (max-width : $md)
      @content
  @else if $point == tablet 
    @media only screen and (max-width : $sm)
      @content
  @else if $point == mobile 
    @media only screen and (max-width : $xs)
      @content
  @else if $point == iphoneLg 
    @media only screen and (max-width : $mb-lg)
      @content 
  @else if $point == iphoneMd 
    @media only screen and (max-width : $mb-md)
      @content
  @else if $point == iphoneXs 
    @media only screen and (max-width : $mb-xs)
      @content    
  @else
    @media only screen and (max-width : $point)
      @content

=min-responsive($point) 
  @if $point == largedesktop 
    @media only screen and (min-width : $xg)
      @content  
  @if $point == desktop 
    @media only screen and (min-width : $lg)
      @content  
  @else if $point == laptop 
    @media only screen and (min-width : $md)
      @content
  @else if $point == tablet 
    @media only screen and (min-width : $sm)
      @content
  @else if $point == mobile 
    @media only screen and (min-width : $xs)
      @content
  @else if $point == iphoneLg 
    @media only screen and (min-width : $mb-lg)
      @content 
  @else if $point == iphoneMd 
    @media only screen and (min-width : $mb-md)
      @content
  @else if $point == iphoneXs 
    @media only screen and (min-width : $mb-xs)
      @content    
  @else
    @media only screen and (min-width : $point)
      @content


=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=animate($s, $both)
  animation-duration: $s
  animation-fill-mode: $both

=clearfix()
  display: table
  clear: both
  visibility: hidden

=background-size($size)
  background-size: $size
  -webkit-background-size: $size
  -moz-background-size: $size
  -o-background-size: $size

=transition($transition...)
  transition: $transition  
  -webkit-transition: $transition  
  -moz-transition: $transition  
  -o-transition: $transition  
  -ms-transition: $transition  

=transition-duration($duration)
  transition-duration: $duration  
  -webkit-transition-duration: $duration  
  -moz-transition-duration: $duration  
  -o-transition-duration: $duration  

=transition-delay($delay)
  transition-delay: $delay  
  -webkit-transition-delay: $delay  
  -moz-transition-delay: $delay  
  -o-transition-delay: $delay  

=box-shadow($shadow)
    box-shadow: $shadow
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    -o-box-shadow: $shadow
    -ms-box-shadow: $shadow

=transform($tansform)
  -moz-transform: $tansform	
  transform: $tansform
  -webkit-transform: $tansform
  -ms-transform: $tansform

// scale
=scale($scale...) 
  +transform(scale($scale))

=scaleX($scale...) 
  +transform(scaleX($scale))

=scaleY($scale...) 
  +transform(scaleY($scale))

// rotate
=rotate($rotate...) 
  +transform(rotate($rotate))

=rotateX($rotate...) 
  +transform(rotateX($rotate))

=rotateY($rotate...) 
  +transform(rotateY($rotate))

// translate
=translate($translate...) 
  +transform(translate($translate))

=translateX($translateX)
  +transform(translateX($translateX))

=translateY($translateY)
  +transform(translateY($translateY))

=transform-origin($transform-origin)
  transform-origin: $transform-origin
  -webkit-transform-origin: $transform-origin
  -moz-transform-origin: $transform-origin
  -o-transform-origin: $transform-origin
  -ms-transform-origin: $transform-origin

=filter($filter...)
  filter: $filter
  -webkit-filter: $filter
  -ms-filter: $filter

=appearance($appearance:none)
  appearance: $appearance
  -webkit-appearance: $appearance
  -ms-appearance: $appearance
  -moz-appearance: $appearance

=border-radius($radius: 0)
  -webkit-border-radius: $radius
  border-radius: $radius

=box-sizing($sizing: border-box)
  -webkit-box-sizing: $sizing
  -moz-box-sizing: $sizing
  box-sizing: $sizing

=tracking( $target )
  letter-spacing: ($target / 1000) * 1em

=animation-delay($animation-delay)
  animation-delay:  $animation-delay !important
  -webkit-animation-delay:  $animation-delay !important
  -moz-animation-delay:  $animation-delay !important
  -o-animation-delay:  $animation-delay !important

=animation-duration($animation-duration)
  animation-duration:  $animation-duration !important
  -webkit-animation-duration:  $animation-duration !important
  -moz-animation-duration:  $animation-duration !important
  -o-animation-duration:  $animation-duration !important

@function convert($value, $currentUnit, $convertUnit)
  @if $currentUnit == px
      @if $convertUnit == ems
        @return $value / 16 + 0em
      
      @else if $convertUnit == percent
        @return percentage($value / 16)
      

  @else if $currentUnit == ems
      @if $convertUnit == px
        @return $value * 16 + 0px
      
      @else if $convertUnit == percent
        @return percentage($value)
      
  @else if $currentUnit == percent
      @if $convertUnit == px
        @return $value * 16 / 100 + 0px
      
      @else if $convertUnit == ems
        @return $value / 100 + 0em
      
  @else if $currentUnit == pts
      @if $convertUnit == px
        @return $value * 1.3333 +0px
      
  @else if $convertUnit == ems
        @return $value / 12 + 0em
      
  @else if $convertUnit == percent
        @return percentage($value / 12)