.product-list{
    border-width: 1px 0 0 1px;
    border-color: #e0e0e0;
    border-style: solid;
    display: inline-block;
}
.product-item{
    float: left;
    vertical-align: top;
    width: 20%;

    .prd-main{
        margin: 0;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #e0e0e0;
        overflow: hidden;
        position: relative;
        transition: all .5s ease;
        &:hover{
            z-index: 5;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                box-shadow: 0 0 0 2px #2196f3 inset;
                z-index: 1;
                pointer-events: none;
            }

            .prd-img{
                img{
                    transform: scale(1.05);
                }
            }
        }
        &::before{
            content: '';
            transition: all .5s ease;
            box-shadow: 0 0 0 0 #2196f3 inset;
        }
    }

    .prd-img{
        padding: 50px 20px 10px 20px;
        a{
            width: 100%;
            display: block;
            max-width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }

        img{
            width: 100%;
            max-width: 100%;
            transition: all .4s ease-in-out;
        }
    }

    .prd-info{
        .prd-comment{
            text-align: center;
            display: block;
            height: 14px;
            margin: 7px 0;
            a.prd-comment-link{
                color: #9e9e9e;
                font-size: 11px;
                &::before{
                    font-family: 'icomoon';
                    font-size: 12px;
                    content: '\e926';
                    color: #ff8f00;
                    margin-right: 3px;
                }
            }
        }

        .prd-code{
            text-align: center;
            font-size: 11px;
            margin: 10px 0 5px 0;
            padding: 0 20px;
            a{  
                color: #9e9e9e;
                transition: all .30s ease;
            }
        }

        .prd-name{
            font-size: 12px;
            line-height: 1.2;
            height: 42px;
            overflow: hidden;
            text-align: center;
            padding: 0 20px;
            a{
                color: #424242;
            }
        }

        .prd-price{
            margin-top: 12px;
            margin-bottom: 10px;
            line-height: 1;
            height: 45px;
            padding: 0 20px;
            text-align: center;
            a{
                color: #0153a6;
                font-size: 30px;
                font-weight: 700;
                &::before{
                    content: 't';
                    font-family: tl;
                    font-size: 25px;
                    font-weight: 300;
                    display: inline-block;
                }
                .cent{
                    font-size: 15px;
                    position: relative;
                    top: 1px;
                    left: -6px;
                    vertical-align: super;
                } 
            }
        }
    }
    .only-web{
        width: 100%;
        color: #2196f3;
        text-align: center;
        font-weight: 500;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        display: block;
        font-size: 11px;
    }
    .opp-prd{
        width: 125px;
        height: 24px;
        text-align: center;
        position: absolute;
        top: 27px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        background: url('../images/firsat.png') center no-repeat;
    }

}

/*Responsive*/
@media only screen and (max-width: 991px) {
    .product-item{
        width: 33.333%;
    }
}

@media only screen and (max-width: 768px) {
    .product-item{
        width: 50%;
    }
}